@import "reset";
@import "variables";
@import "modal_transitions";

.hidden {
    overflow: hidden !important;
    font-size: 0 !important;
    text-indent: -100000px !important;
    position: absolute;
}

.body {
    background-color: var(--background_color);
}

.hel_reg, .hel_bold {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.hel_reg {
    font-weight: normal;
}

.hel_bold {
    font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: column;
}

.header, .body.yellow_bg, .submit_btn, .app_nav_theme_switcher_and_profile_content_modal, .login_page_logo_bg, .footer {
    background-color: var(--yellow_color);
}

.button, .go_back_btn, .app_nav_main_list_item, .app_nav_theme_switcher_and_profile_content_modal_list_item_link {
    text-decoration: none;
}

.button, .input_error_message_show_password_button, .themes_light, .themes_dark, .app_nav_theme_switcher_and_profile_content, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn {
    cursor: pointer;
}

.app_nav_main_list_item.active, .app_nav_theme_switcher_and_profile_content.active, .app_nav_theme_switcher_and_profile_content:hover {
    background-color: var(--main_nav_active_bg_color);
}

.label, .go_back_btn, .input, .forgot_password, .app_nav_theme_switcher_and_profile_content_modal_list_item:not(:last-of-type), .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_main_list_item_link, .footer_copy, .page_description {
    font-size: $text_sizeM;
}

.button {
    font-size: $text_sizeM;
    text-align: center;
    color: var(--black_color_switchable);
    transition: transform .3s ease-in-out;
    padding: .8em 0;

    &:hover {
        transform: scale(1.05);
    }
}

.go_back_btn {
    color: var(--white_color);
    align-items: center;
    flex-direction: row;
}

.button, .input {
    border-radius: .5em;
}

.input_checkbox {
    flex-direction: row-reverse;
    align-items: center;
    gap: .625em;
}

.label {
    color: var(--white_color);
}

.input_error_message {
    gap: 0.3125em; //5
    position: relative;

    .input {
        border: 1px solid var(--white_color);
        padding: .8em 1em;
        background-color: transparent;
        color: var(--white_color);

        &[type = 'checkbox'] {
            appearance: auto;
            height: 24px;
            width: 24px;
        }
    }

    .error_message {
        color: var(--red_color);
        font-size: $text_sizeS;
    }

    &_show_password_button {
        background-color: transparent;
        position: absolute;
        top: calc(50% - 24px / 2);
        right: 20px;
        border: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 0;
    }
}

.stay_connected_forgot_password {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .label {
        font-weight: normal;
    }

    .forgot_password {
        color: var(--white_color);
    }
}

.submit_btn {
    border: none;
    color: var(--black_color);
}

.themes {
    flex-direction: row;
    justify-content: center;
    width: 84px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;

    &.light_is_active {
        .themes_light {
            background-color: var(--black_color);
        }

        .themes_dark {
            background-color: transparent;
        }
    }

    &.dark_is_active {
        .themes_light {
            background-color: transparent;
        }

        .themes_dark {
            background-color: var(--black_color);
        }
    }

    &.light_is_active, &.dark_is_active {
        .themes_light, .themes_dark {
            transition: .3s ease-in-out;
        }
    }

    &_light, &_dark {
        flex-grow: 1;
        border: none;
        position: relative;

        .svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: calc(50% - 16px / 2);
            left: calc(50% - 16px / 2);
            overflow: visible;

            &.move {
                top: 200%;
            }
        }
    }

    &_light {
        border-radius: 20px 0 0 20px;
    }

    &_dark {
        border-radius: 0 20px 20px 0;
    }
}

.welcome_page {
    &_content {
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 10.5625em;

        &_button_and_themes {
            gap: 1.875em;
            align-items: center;

            &_button {
                background-color: var(--black_color_switchable);
                color: var(--white_color);
                font-size: $text_sizeL;
                border-radius: .333em;
                padding: .9em 1.93em;
            }
        }
    }
}

.login_page {
    flex-direction: row-reverse;
    height: 100vh;

    &_logo_bg, &_content {
        flex: 1;
    }

    &_logo_bg {
        align-items: center;
        justify-content: center;
    }

    &_content {
        flex-direction: column-reverse;
        padding: 3.125em;

        .login_section {
            align-self: center;
            flex-grow: 1;
            justify-content: center;

            &_form {
                gap: $spaceL;
                width: 29.6875em; //475

                &_label_and_input {
                    gap: $spaceXL;
                }

                &_content {
                    gap: $spaceXS;
                }

                &_stay_connected_forgot_password_and_button {
                    gap: $spaceM;
                }

            }
        }

        .go_back_nav {
            align-self: flex-start;
        }
    }
}

.header {
    height: calc(100vh - ($spaceXL * 2) + $spaceXS);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(16.8125em - $spaceS - $spaceM); //269
    padding: $spaceXL $spaceS calc($spaceXL - $spaceXS) $spaceM;

    .app_nav_main_list_item_link, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_theme_switcher_and_profile_content_modal_list_item_link {
        text-decoration: none;
        position: relative;
        color: var(--black_color);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            background-color: var(--black_color);
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.3s ease;
        }
    }

    .app_nav {
        justify-content: space-between;
        height: 100%;

        &_logo {
            padding-left: $spaceXXS;
        }

        &_main {
            &_list {
                gap: calc($spaceXL - ($spaceXS * 2));

                &_item {
                    position: relative;
                    padding: $spaceXS $spaceXS $spaceXS 0;
                    border-radius: .625em;

                    &.inactive {
                        &:hover {
                            .app_nav_main_list_item_link {
                                &::after {
                                    transform: scaleX(1);
                                    transform-origin: bottom left;
                                }
                            }
                        }
                    }

                    &_link {
                        padding-left: $spaceXXS;

                        &::after {
                            left: $spaceXXS;
                            width: calc(100% - $spaceXXS);
                        }
                    }
                }
            }
        }

        &_theme_switcher_and_profile {
            gap: $spaceXL;

            .themes, &_content_image {
                margin-left: $spaceXXS;
            }

            &_content {
                gap: $spaceXS;
                flex-direction: row;
                align-items: center;
                position: relative;
                padding: $spaceXS $spaceXS $spaceXS 0;
                border-radius: .625em;

                &_image {
                    min-width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                &_text {
                    .profile_info {

                        &:first-of-type {
                            font-size: $text_size;
                        }

                        &:last-of-type {
                            font-size: $text_sizeXS;
                        }
                    }
                }

                &_modal {
                    border-radius: .625em;
                    padding: $spaceS;
                    box-shadow: -4px 4px 8px var(--main_nav_active_bg_color);
                    z-index: 1;
                    position: fixed;
                    left: 16em;
                    bottom: 0;

                    &_list {
                        gap: $spaceXXS;

                        &_item {
                            width: 100%;

                            &:hover {
                                .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn {
                                    &::after {
                                        transform: scaleX(1);
                                        transform-origin: bottom left;
                                    }
                                }
                            }

                            &:not(:last-of-type) {
                                border-bottom: 1px solid var(--black_line_color);
                                padding-bottom: $spaceXXS;
                            }

                            &_form_btn {
                                border: none;
                                background: none;
                                padding: 0;
                            }

                            &_form_btn, &_link {
                                &::after {
                                    left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page_title {
    font-size: $text_sizeL;
    margin-bottom: 0.6667em;
}

.main, .footer {
    margin-left: 16.8125em;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spaceXXL $spaceM;
    width: calc(100vw - ($spaceM * 2) - 16.8125em);
}

.main {
    padding: $spaceXXL;
    color: var(--white_color);
}

