@import "reset";
@import "variables";
@import "modal_transitions";

.hidden {
    overflow: hidden !important;
    font-size: 0 !important;
    text-indent: -100000px !important;
    position: absolute;
}

.body {
    background-color: var(--background_color);

    .layout {
        flex-direction: row;

        .header {
            position: fixed;
            z-index: 1;
        }

        .main {
            flex: 1;
            padding: $spaceXXL;
            color: var(--white_color_switchable);
        }
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $spaceL $spaceM;
    }
}

.text {
    &_green {
        color: var(--dark_green_color);
    }

    &_red {
        color: var(--red_color);
    }

    &_orange {
        color: var(--orange_color);
    }
}

.hel_reg, .hel_reg_it, .hel_bold, .hel_reg_underline {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.hel_reg {
    font-weight: normal;

    &_underline {
        text-decoration: underline;
    }
}

.hel_reg_it {
    font-style: italic;
}

.hel_bold {
    font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: column;
}

.logo {
    &_small {
        width: 120px;
    }

    &_large {
        width: 400px;
    }
}

.header, .body.yellow_bg, .submit_btn, .app_nav_theme_switcher_and_profile_content_modal, .login_page_logo_bg, .footer {
    background-color: var(--yellow_color);
}

.button, .go_back_btn, .app_nav_main_list_item, .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .funds_section_lists_container_in_process_list_item_link, .funds_section_lists_container_enclosed_list_item_link, {
    text-decoration: none;
}

.button, .input_error_message_show_password_button, .themes_light, .themes_dark, .app_nav_theme_switcher_and_profile_content, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .modal_btn, .input[type = 'file']::file-selector-button, .close, .add_donations_manually_or_import_list_item_text, .dot, .table_head_item:first-of-type, .list_title_and_button_container:last-of-type .button_title_container_title, .tasks_for_today_title, .assigned_tasks_for_today_title, .app_nav_logo_and_close_icon_icon, .task_index_tasks_manager_section_lists_container_section_title {
    cursor: pointer;
}

.app_nav_main_list_item.active, .app_nav_theme_switcher_and_profile_content.active, .app_nav_theme_switcher_and_profile_content:hover {
    background-color: var(--main_nav_active_bg_color);
}

.label, .go_back_btn, .input, .forgot_password, .app_nav_theme_switcher_and_profile_content_modal_list_item:not(:last-of-type), .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_main_list_item_link, .footer_copy, .page_description, .todo_list_section_content_list_item_link, .success_message_text, .error_message_text, .todo_list_section_content_no_tasks, .funds_section_lists_container_enclosed_list_item_link, .funds_section_lists_container_in_process_list_item_link, .table, .add_donations_manually_or_import_list_item, .form_user_list_container_title, .search_form_input, .modal_error_text, .transaction_info_title, .transaction_info_texts_container, .task_users_form_users_list_container_title, .task_users_form_users_list_item_name, .task_users_form_users_list_item_email, .task_show_section_list_item, .assigned_tasks_for_today_title, .tasks_for_today_title, {
    font-size: $text_sizeM;
}

.button {
    font-size: $text_sizeM;
    text-align: center;
    color: var(--black_color_switchable);
    transition: transform .3s ease-in-out;
    padding: .8em 0;
}

.welcome_page_content_button_and_themes_button, .page_title, .section_title {
    font-size: $text_sizeL;
}

.button, .modal_btn {
    &:hover {
        transform: scale(1.05);
    }
}

.form_btn, .modal_btn {
    z-index: 2;
}

.modal_btn {
    border: none;
    padding: .75em 1em;
    border-radius: .625em;
    background-color: var(--yellow_color);
    display: inline-block;

    &.delete {
        background-color: var(--red_color);
    }

    &.settings {
        background-color: var(--blue_color);
    }

    &.checked {
        background-color: var(--green_color);
    }
}

.error_message_modal, .success_message {
    padding: $spaceS;
    border-radius: .625em;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    align-items: center;
    gap: $spaceM;
    position: fixed;
    right: $spaceXXL;
    top: $spaceXXL;

    &_text {
        color: var(--black_color);
    }
}

.success_message {
    background-color: var(--green_color);
}

.error_message_modal {
    background-color: var(--red_color);
}

.go_back_btn {
    color: var(--white_color_switchable);
    align-items: center;
    flex-direction: row;
}

.input_label_container, .task_show_section_list_item_container {
    gap: $spaceXS;
}

.task_show_section_list_item_container_text:last-of-type, .input {
    border: 1px solid var(--lightgray);
    padding: .5em;
    background-color: var(--white_color);
    color: var(--black_color);
}

.input {
    resize: vertical;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

select.input {
    appearance: none;
    background-image: url("../icons/arrow_down.svg");
    background-position: right $spaceS center;
    background-repeat: no-repeat;
    padding-right: $spaceXXL;
}

.button, .input, .task_show_section_list_item_container_text:last-of-type {
    border-radius: .5em;
}

.input_checkbox {
    flex-direction: row-reverse;
    align-items: center;
    gap: .625em;
}

.label {
    color: var(--white_color_switchable);
}

.input_error_message {
    gap: 0.3125em; //5
    position: relative;

    .input {
        &[type = 'checkbox'] {
            appearance: auto;
            height: 24px;
            width: 24px;
        }

        &[type = 'file'] {
            &::file-selector-button {
                background-color: var(--yellow_color);
                border: 1px solid var(--lightgray);
                border-left: none;
                box-shadow: none;
                position: absolute;
                right: -5px;
                top: 0;
                height: 100%;
                border-radius: 0 .5em .5em 0;
            }
        }

        &[type = 'number']::-webkit-inner-spin-button, &[type = 'number']::-webkit-outer-spin-button {
            appearance: none;
        }

        &[id = 'pourcentage'], &[id = amount] {
            position: relative;
            background-repeat: no-repeat;
            background-position: right $spaceS center;
        }
    }

    .error_message {
        color: var(--red_color);
        font-size: $text_sizeS;
    }

    &_show_password_button {
        background-color: transparent;
        position: absolute;
        top: calc(50% - 24px / 2);
        right: 20px;
        border: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        padding: 0;
    }
}

.stay_connected_forgot_password {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spaceXS;
    flex-wrap: wrap;

    .label {
        font-weight: normal;
    }

    .forgot_password {
        color: var(--white_color_switchable);
    }
}

.list_title_and_button_container {
    gap: $spaceM;
    flex: 1;
    flex-wrap: wrap;

    &:last-of-type {
        .button_title_container {
            &_title {
                user-select: none;
            }
        }
    }

    .button_title_container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spaceM;

        &:has(:not(div.button_title_container_button_container)) {
            line-height: 2.9375em;
        }

        &_title {
            font-size: $text_sizeL;
        }

        &_button_container {
            flex-direction: row;
            gap: $spaceXS;
        }
    }
}

.table {
    border-collapse: separate;
    border-spacing: 0 1.25em;

    &_head {
        &_item {
            text-align: left;

            &:first-of-type {
                user-select: none;
            }

            &:last-of-type {
                text-align: right;
            }
        }
    }

    &_body {
        &_item {
            &:first-of-type {
                &_text, &_longtext {
                    padding-top: 2.5em;
                }
            }

            &_text, &_longtext {
                border-bottom: 1px solid var(--line_color_switchable);
                padding: 1.25em 1em 1.25em 0;
            }

            &_text {
                &:last-of-type {
                    text-align: right;
                    padding-right: 0;
                }
            }

            &_longtext {
                max-width: 100px;

                &_text {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.submit_btn {
    border: none;
    color: var(--black_color);
    width: 100%;
}

.section {
    background-color: var(--section_bg_color);
    padding: $spaceXXL;
    gap: $spaceXXL;
    border-radius: 1.25em;

    &.space {
        margin-bottom: $spaceS;
    }

    &.space_up {
        margin-top: $spaceXL;
    }
}

.section_title_and_button {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.themes {
    flex-direction: row;
    justify-content: center;
    width: 84px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;

    &.light_is_active {
        .themes_light {
            background-color: var(--black_color);
        }

        .themes_dark {
            background-color: transparent;
        }
    }

    &.dark_is_active {
        .themes_light {
            background-color: transparent;
        }

        .themes_dark {
            background-color: var(--black_color);
        }
    }

    &.light_is_active, &.dark_is_active {
        .themes_light, .themes_dark {
            transition: .3s ease-in-out;
        }
    }

    &_light, &_dark {
        flex-grow: 1;
        border: none;
        position: relative;

        .svg {
            width: 16px;
            height: 16px;
            position: absolute;
            top: calc(50% - 16px / 2);
            left: calc(50% - 16px / 2);
            overflow: visible;

            &.move {
                top: 200%;
            }
        }
    }

    &_light {
        border-radius: 20px 0 0 20px;
    }

    &_dark {
        border-radius: 0 20px 20px 0;
    }
}

.welcome_page {
    &_content {
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 10.5625em;

        &_button_and_themes {
            gap: 1.875em;
            align-items: center;

            &_button {
                background-color: var(--black_color_switchable);
                color: var(--white_color_switchable);
                border-radius: .333em;
                padding: .9em 1.93em;
            }
        }
    }
}

.login_page {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 100vh;

    &_logo_bg, &_content {
        flex: 1;
    }

    &_logo_bg {
        align-items: center;
        justify-content: center;
    }

    &_content {
        flex-direction: column-reverse;
        padding: 3.125em;

        .login_section {
            align-self: center;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            width: 100%;

            &_form {
                gap: $spaceL;
                width: 75%;

                &_label_and_input {
                    gap: $spaceXL;
                }

                &_stay_connected_forgot_password_and_button {
                    gap: $spaceM;

                    &_btn_container {
                        flex: 1;

                        &_btn {
                            width: 100%;
                        }
                    }
                }

            }
        }

        .go_back_nav {
            align-self: flex-start;
        }
    }
}

.app_nav_main_list_item_link, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .todo_list_section_content_list_item_link, .funds_section_lists_container_enclosed_list_item_link, .funds_section_lists_container_in_process_list_item_link, .add_donations_manually_or_import_list_item_text, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link {
    text-decoration: none;
    position: relative;
    color: var(--black_color);

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: var(--black_color);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }
}

.header {
    .app_nav {
        justify-content: space-between;
        height: calc(100vh - ($spaceXL * 2));
        margin: $spaceXL $spaceS;

        &_logo_and_close_icon {
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            &_icon {
                width: 60px;
            }
        }

        &_main {
            &_list {
                gap: calc($spaceXL - ($spaceXS * 2));

                &_item {
                    position: relative;
                    padding: $spaceXS $spaceXS $spaceXS 0;
                    border-radius: .625em;

                    &.inactive {
                        &:hover {
                            .app_nav_main_list_item_link {
                                &::after {
                                    transform: scaleX(1);
                                    transform-origin: bottom left;
                                }
                            }
                        }
                    }

                    &_link {
                        padding-left: $spaceXXS;

                        &::after {
                            left: $spaceXXS;
                            width: calc(100% - $spaceXXS);
                        }
                    }
                }
            }
        }

        &_theme_switcher_and_profile {
            gap: $spaceXL;

            .themes, &_content_image {
                margin-left: $spaceXXS;
            }

            &_content_image {
                align-items: center;
                justify-content: center;

                &_img {
                    width: 100%;
                }
            }

            &_content {
                gap: $spaceXS;
                flex-direction: row;
                align-items: center;
                position: relative;
                padding: $spaceXS $spaceXS $spaceXS 0;
                border-radius: .625em;

                &_image {
                    max-width: 55px;
                    max-height: 55px;
                    border-radius: 50%;
                    overflow: hidden;
                }

                &_text {
                    .profile_info {

                        &:first-of-type {
                            font-size: $text_size;
                        }

                        &:last-of-type {
                            font-size: $text_sizeXS;
                        }
                    }
                }

                &_modal {
                    border-radius: .625em;
                    padding: $spaceS;
                    box-shadow: -4px 4px 8px var(--main_nav_active_bg_color);
                    position: fixed;
                    left: 16em;
                    bottom: 0;

                    &_list {
                        gap: $spaceXXS;

                        &_item {
                            width: 100%;

                            &:hover {
                                .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn {
                                    &::after {
                                        transform: scaleX(1);
                                        transform-origin: bottom left;
                                    }
                                }
                            }

                            &:not(:last-of-type) {
                                border-bottom: 1px solid var(--black_line_color);
                                padding-bottom: $spaceXXS;
                            }

                            &_form_btn {
                                border: none;
                                background: none;
                                padding: 0;
                            }

                            &_form_btn, &_link {
                                &::after {
                                    left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page_title_and_description {
    margin-bottom: $spaceXXL;

    .page_title {
        margin-bottom: 0.6667em;
    }
}

.home_sections_container {

    .todo_list_section {
        &_content {
            gap: $spaceDoubleXXL;

            .tasks_for_today, .assigned_tasks_for_today {
                gap: $spaceS;
            }

            &_list {
                gap: $spaceXXS;

                &_item {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    height: 3.65625em;
                    gap: $space;

                    .picture_and_form_container {
                        flex-direction: row;
                        flex: 1;
                        justify-content: right;
                        gap: $spaceM;
                        flex-wrap: wrap;
                    }

                    &:not(:last-of-type) {
                        padding-bottom: $spaceXXS;
                        border-bottom: 1px solid var(--line_color_switchable);
                    }

                    &_link {
                        color: var(--white_color_switchable);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &::after {
                            background-color: var(--white_color_switchable);
                            left: 0;
                            width: 100%;
                        }

                        &:hover {
                            &::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }

                    &_profile_pictures_list {
                        flex-direction: row;
                        gap: $spaceXXXS;
                        align-items: flex-end;
                        flex-wrap: wrap;

                        &_item {
                            width: 36px;
                            height: 36px;
                            overflow: hidden;
                            border-radius: 50%;
                            align-items: center;
                            justify-content: center;

                            &_img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.profile_form_section, .fund_details_section, .task_show_section {
    gap: $spaceDoubleXXL;
    align-items: center;
    position: relative;

    &_profile_picture_container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        &_img {
            width: 100%;
        }
    }

    &_form, &_list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        gap: $spaceXL;
        width: 100%;

        &_label_and_input_container, &_item {
            width: 100%;
        }
    }
}

.fund_details_section {
    align-items: flex-start;
}

.funds_section, .task_index_tasks_manager_section {
    &_lists_container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $spaceXL;

        .large {
            flex: 1;
        }

        &_in_process_list {
            &_item {
                &_link {
                    &:hover {
                        border: 2px solid var(--dark_green_color);
                    }
                }
            }
        }

        &_enclosed_list {
            &_item {
                &_link {
                    &:hover {
                        border: 2px solid var(--red_color);
                    }
                }
            }
        }

        &_in_process_list, &_enclosed_list, &_section_content_owner_task_to_do_list, &_section_content_assigned_task_to_do_list, &_section_content_owner_task_in_process_list, &_section_content_assigned_task_in_process_list, &_section_content_owner_task_archived_list, &_section_content_assigned_task_archived_list {
            gap: $spaceS;
            flex: 1;

            &_item {
                background-color: var(--item_bg_color);
                border-radius: .625em;
                padding: 0.9375em 1.25em;
                flex-direction: row;
                justify-content: space-between;
                gap: $spaceS;
                position: relative;
                max-height: 2.96875em;
                align-items: center;
                flex-wrap: nowrap;
                flex: 1;

                &_amount_text {
                    font-size: $text_sizeS;
                    margin-bottom: .75em;
                }

                &_fake_link {
                    color: var(--white_color_switchable);
                }

                &_link {
                    position: absolute;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    border-radius: .625em;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            }
        }
    }
}

.task_index_tasks_manager_section_lists_container {
    flex-direction: column;
    gap: $spaceXXL;
    flex-wrap: wrap;

    &_section {
        gap: $spaceM;
        flex-wrap: wrap;

        &_title {
            font-size: $spaceSPLUS;
        }

        .horizontal_flex {
            flex-direction: row;
            gap: $spaceS;
            flex-wrap: wrap;
        }

        &_content {
            gap: $spaceS;
            flex: 1;
            flex-wrap: wrap;

            &_title_and_button_container {
                flex-direction: row;
                gap: $spaceM;
                align-items: center;

                &:has(:not(div.button_title_container_button_container)) {
                    line-height: 2.9375em;
                }
            }

            &_owner_task_to_do_list, &_assigned_task_to_do_list, &_owner_task_in_process_list, &_assigned_task_in_process_list, &_owner_task_archived_list, &_assigned_task_archived_list {
                &_item {
                    &_btn_container {
                        flex-direction: row;
                        gap: $spaceS;
                    }

                    &_link {
                        position: absolute;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        border-radius: .625em;
                        top: 0;
                        left: 0;
                        z-index: 1;

                        &:hover {
                            border: 2px solid var(--dark_green_color);
                        }
                    }
                }
            }

            &_owner_task_in_process_list, &_assigned_task_in_process_list {
                &_item {
                    &_link {
                        &:hover {
                            border: 2px solid var(--orange_color);
                        }
                    }
                }
            }

            &_owner_task_archived_list, &_assigned_task_archived_list {
                &_item {
                    &_link {
                        &:hover {
                            border: 2px solid var(--red_color);
                        }
                    }
                }
            }
        }
    }
}

.modal_section {
    position: fixed;
    z-index: 3;
    background-color: var(--modal_bg_color);
    top: 0;
    left: 16.8125em;
    height: 100vh;
    width: calc(100vw - 16.8125em);
    justify-content: center;
    align-items: center;
    color: var(--black_color);

    &_content {
        background-color: var(--yellow_color);
        padding: $spaceXXL;
        gap: $spaceXXL;
        border-radius: 1.25em;
        max-height: 80%;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 10px;
            height: 100%;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--white_color_switchable);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-track:hover {
            background-color: var(--white_placeholder_color);
            border-radius: 10px;
        }

        &.error_modal {
            background-color: var(--red_color);
        }

        &_title_and_close_container {
            flex-direction: row;
            justify-content: space-between;
            gap: $spaceM;

            &_title {
                font-size: $text_sizeL;
            }
        }

        &_form {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: $spaceXL $spaceM;
            max-width: 40em;

            &_input_label_container {
                width: 100%;

                .input, .label {
                    color: var(--black_color);
                    border-color: var(--black_color);
                }

                .input {

                    &::placeholder {
                        color: var(--black_placeholder_color);
                        font-family: 'Helvetica', 'Arial', sans-serif;
                    }

                    &[type = 'file'] {
                        &::file-selector-button {
                            background-color: var(--black_color);
                            color: var(--white_color);
                            border-color: var(--black_color);
                        }
                    }

                    &[id = 'pourcentage'] {
                        background-image: url("../icons/black_pourcentage_icon.svg");
                    }

                    &[id = 'amount'] {
                        background-image: url("../icons/black_euro_icon.svg");
                    }
                }
            }

            &_submit_btn_container {
                width: 100%;

                &_submit_btn {
                    border: none;
                    color: var(--white_color);
                    background-color: var(--black_color);
                    width: 100%;
                }
            }
        }
    }
}

.custom-pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $spaceM;

    .dotted-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spaceXXXS;

        .dot {
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 10px;
            background-color: var(--white_color_switchable);
            color: var(--black_color_switchable);
            font-size: $text_sizeS;

            &.active {
                background-color: var(--yellow_color);
                color: var(--black_color);
            }
        }
    }
}

.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--yellow_color);
    color: var(--black_color);
    cursor: pointer;
    transition: transform 0.2s ease;
    border: none;

    .icon {
        width: 24px;
        height: 24px;
    }

    &:hover {
        transform: scale(1.05);
    }

    &.disabled {
        background-color: var(--yellow_color);
        cursor: not-allowed;
        opacity: 0.6;
    }
}

.add_donations_manually_or_import {
    background-color: var(--yellow_color);
    padding: $spaceM;
    border-radius: .625em;
    position: absolute;
    right: 0;
    top: 3.75em;

    &_list {
        gap: $spaceXS;

        &_item {
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--black_line_color);
                padding-bottom: $spaceXS;
            }

            &_text {
                display: inline-block;

                &::after {
                    background-color: var(--black_color);
                    left: 0;
                    width: 100%;
                }

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }
}

.form_user_list_container, .form_fund_list_container {
    gap: $spaceXS;
    width: 100%;

    .form_user_list, .form_fund_list {
        gap: $spaceXS;
        height: 15em;
        overflow: scroll;
        border: 1px solid var(--black_color);
        border-radius: .625em;
        padding: $space $spaceS;

        &_item {
            flex-direction: row;
            align-items: center;
            gap: $spaceM;

            &:not(:last-of-type) {
                border-bottom: 1px solid var(--black_line_color);
                padding-bottom: $spaceXXS;
            }

            &_label {
                gap: $spaceXS;
                flex: 1;

                &_username_and_picture_container {
                    flex-direction: row;
                    gap: $spaceXS;
                    align-items: center;

                    &_picture {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.search_form_input {
    background-color: transparent;
    border-bottom: 1px solid var(--black_color);
    border-left: none;
    border-right: none;
    border-top: none;
    background-image: url("../icons/search_icon.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 29px;

    &::placeholder {
        color: var(--black_color);
    }
}

.input_icon {
    position: absolute;
    right: $spaceS;
    top: calc(50% - 8px);
}

.fund_transactions_section {
    .table {
        &_body {
            &_item {
                &_text {
                    &:last-of-type {
                        .modal_btn {
                            width: 100%;
                        }
                    }
                }
            }
        }

        & .submit_btn {
            font-size: unset;
            padding: $spaceXS;
        }
    }
}

.task_index_tasks_manager_section {

    &_title_and_buttons_container {
        align-items: center;
        flex-direction: row;
        gap: $spaceL;
    }
}

.table_icon_invisible {
    visibility: hidden;
    position: absolute;
}

.confirmation_choices {
    flex-direction: row;
    align-items: center;
    gap: $spaceM;

    .modal_section_content_form_submit_btn_container {
        flex: 1;

        &_submit_btn {
            background-color: var(--red_color);
        }
    }

    .form, .no_btn {
        flex: 1;
    }

    .no_btn {
        border: none;
        color: var(--white_color);
        background-color: var(--black_color);
    }
}

.transaction_info {
    gap: $spaceXL;

    &_title {
        margin-bottom: $spaceXS;
    }

    &_texts_container {
        gap: $spaceXS;

        &_text {
            flex-direction: row;
        }
    }
}

.task_users_form_users_list_container {
    width: 100%;

    .task_users_form_users_list, .no_user {
        margin-top: $spaceM;
    }

    .task_users_form_users_list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: $spaceM;
        width: 100%;

        &_item {
            align-items: center;
            gap: $spaceXS;
            flex-basis: calc(20% - $spaceM + $spaceM / 5);
            max-width: calc(20% - $spaceM + $spaceM / 5);

            &_picture {
                width: 36px;
                height: 36px;
                overflow: hidden;
                border-radius: 50%;
            }

            &_name {
                max-width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &_form {
                width: 100%;

                &_submit_btn_container {
                    &_btn {
                        width: 100%;
                        font-size: $text_size;
                    }
                }
            }

        }
    }
}

.task_show_section {
    align-items: flex-start;
}

.div_space {
    .section_title {
        margin-bottom: $spaceXXL;
    }
}

.start {
    align-self: flex-start;
}

.small {
    color: var(--dark_green_color);
    font-size: $text_sizeXS;
}
