html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.body.light-theme {
  --yellow_color: #FFC300;
  --background_color: #FFFFFF;
  --section_bg_color: #EFEFEF;
  --item_bg_color: #CDCDCD;
  --black_color_switchable: #FFFFFF;
  --white_color: #FFFFFF;
  --black_color: #000000;
  --white_color_switchable: #000000;
  --red_color: #E34234;
  --green_color: #4ADB15;
  --dark_green_color: #27750b;
  --blue_color: #00BBFF;
  --modal_bg_color: rgba(0, 0, 0, 0.75);
  --line_color_switchable: rgba(0, 0, 0, 0.5);
  --white_placeholder_color: rgba(0, 0, 0, 0.6);
  --black_placeholder_color: rgba(0, 0, 0, 0.6);
  --black_placeholder_color_switchable: rgba(255, 255, 255, 0.6);
  --main_nav_active_bg_color: rgba(0, 0, 0, 0.25);
  --black_line_color: rgba(0, 0, 0, 0.5);
  --lightgray: #D3D3D3FF;
  --orange_color: #c06500;
}

.body.dark-theme {
  --yellow_color: #FFC300;
  --background_color: #1C1C1C;
  --section_bg_color: #222222;
  --item_bg_color: #464646;
  --black_color_switchable: #000000;
  --black_color: #000000;
  --white_color: #FFFFFF;
  --white_color_switchable: #FFFFFF;
  --red_color: #E34234;
  --green_color: #4ADB15;
  --dark_green_color: #4ADB15;
  --blue_color: #00BBFF;
  --modal_bg_color: rgba(0, 0, 0, 0.75);
  --line_color_switchable: rgba(255, 255, 255, 0.5);
  --white_placeholder_color: rgba(255, 255, 255, 0.6);
  --black_placeholder_color: rgba(0, 0, 0, 0.6);
  --black_placeholder_color_switchable: rgba(0, 0, 0, 0.6);
  --main_nav_active_bg_color: rgba(0, 0, 0, 0.25);
  --black_line_color: rgba(0, 0, 0, 0.5);
  --lightgray: #D3D3D3FF;
  --orange_color: #ff8800;
}

.profile-modal-transition, .success-message-transition, .modal-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.profile-modal-enter, .profile-modal-leave-active, .success-message-enter, .success-message-leave-active, .modal-enter, .modal-leave-active {
  opacity: 0;
}

.profile-modal-enter-active, .profile-modal-leave, .success-message-enter-active, .success-message-leave, .modal-enter-active, .modal-leave {
  opacity: 1;
}

.profile-modal-enter, .profile-modal-leave-active {
  transform: translateX(-10%);
}

.profile-modal-enter-active, .profile-modal-leave, .success-message-enter-active, .success-message-leave {
  transform: translateX(0);
}

.success-message-enter, .success-message-leave-active {
  transform: translateX(10%);
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.body {
  background-color: var(--background_color);
}
.body .layout {
  flex-direction: row;
}
.body .layout .header {
  position: fixed;
  z-index: 1;
}
.body .layout .main {
  flex: 1;
  padding: 3.125em;
  color: var(--white_color_switchable);
}
.body .footer {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.1875em 1.875em;
}

.text_green {
  color: var(--dark_green_color);
}
.text_red {
  color: var(--red_color);
}
.text_orange {
  color: var(--orange_color);
}

.hel_reg, .hel_reg_it, .hel_bold, .hel_reg_underline {
  font-family: "Helvetica", "Arial", sans-serif;
}

.hel_reg {
  font-weight: normal;
}
.hel_reg_underline {
  text-decoration: underline;
}

.hel_reg_it {
  font-style: italic;
}

.hel_bold {
  font-weight: bold;
}

.flex {
  display: flex;
  flex-direction: column;
}

.logo_small {
  width: 120px;
}
.logo_large {
  width: 400px;
}

.header, .body.yellow_bg, .submit_btn, .app_nav_theme_switcher_and_profile_content_modal, .login_page_logo_bg, .footer {
  background-color: var(--yellow_color);
}

.button, .go_back_btn, .app_nav_main_list_item, .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .funds_section_lists_container_in_process_list_item_link, .funds_section_lists_container_enclosed_list_item_link {
  text-decoration: none;
}

.button, .input_error_message_show_password_button, .themes_light, .themes_dark, .app_nav_theme_switcher_and_profile_content, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .modal_btn, .input[type=file]::file-selector-button, .close, .add_donations_manually_or_import_list_item_text, .dot, .table_head_item:first-of-type, .list_title_and_button_container:last-of-type .button_title_container_title, .tasks_for_today_title, .assigned_tasks_for_today_title, .app_nav_logo_and_close_icon_icon, .task_index_tasks_manager_section_lists_container_section_title {
  cursor: pointer;
}

.app_nav_main_list_item.active, .app_nav_theme_switcher_and_profile_content.active, .app_nav_theme_switcher_and_profile_content:hover {
  background-color: var(--main_nav_active_bg_color);
}

.label, .go_back_btn, .input, .forgot_password, .app_nav_theme_switcher_and_profile_content_modal_list_item:not(:last-of-type), .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_main_list_item_link, .footer_copy, .page_description, .todo_list_section_content_list_item_link, .success_message_text, .todo_list_section_content_no_tasks, .funds_section_lists_container_enclosed_list_item_link, .funds_section_lists_container_in_process_list_item_link, .table, .add_donations_manually_or_import_list_item, .form_user_list_container_title, .search_form_input, .modal_error_text, .transaction_info_title, .transaction_info_texts_container, .task_users_form_users_list_container_title, .task_users_form_users_list_item_name, .task_users_form_users_list_item_email, .task_show_section_list_item, .assigned_tasks_for_today_title, .tasks_for_today_title, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link {
  font-size: 1.25em;
}

.button {
  font-size: 1.25em;
  text-align: center;
  color: var(--black_color_switchable);
  transition: transform 0.3s ease-in-out;
  padding: 0.8em 0;
}

.welcome_page_content_button_and_themes_button, .page_title, .section_title {
  font-size: 1.875em;
}

.button:hover, .modal_btn:hover {
  transform: scale(1.05);
}

.form_btn, .modal_btn {
  z-index: 2;
}

.modal_btn {
  border: none;
  padding: 0.75em 1em;
  border-radius: 0.625em;
  background-color: var(--yellow_color);
  display: inline-block;
}
.modal_btn.delete {
  background-color: var(--red_color);
}
.modal_btn.settings {
  background-color: var(--blue_color);
}
.modal_btn.checked {
  background-color: var(--green_color);
}

.success_message {
  background-color: var(--green_color);
  padding: 1.25em;
  border-radius: 0.625em;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  align-items: center;
  gap: 1.875em;
  position: fixed;
  right: 3.125em;
  top: 3.125em;
}
.success_message_text {
  color: var(--black_color);
}

.go_back_btn {
  color: var(--white_color_switchable);
  align-items: center;
  flex-direction: row;
}

.input_label_container, .task_show_section_list_item_container {
  gap: 0.9375em;
}

.task_show_section_list_item_container_text:last-of-type, .input {
  border: 1px solid var(--lightgray);
  padding: 0.5em;
  background-color: var(--white_color);
  color: var(--black_color);
}

.input {
  resize: vertical;
  font-family: "Helvetica", "Arial", sans-serif;
}

select.input {
  appearance: none;
  background-image: url("../icons/arrow_down.svg");
  background-position: right 1.25em center;
  background-repeat: no-repeat;
  padding-right: 3.125em;
}

.button, .input, .task_show_section_list_item_container_text:last-of-type {
  border-radius: 0.5em;
}

.input_checkbox {
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.625em;
}

.label {
  color: var(--white_color_switchable);
}

.input_error_message {
  gap: 0.3125em;
  position: relative;
}
.input_error_message .input[type=checkbox] {
  appearance: auto;
  height: 24px;
  width: 24px;
}
.input_error_message .input[type=file]::file-selector-button {
  background-color: var(--yellow_color);
  border: 1px solid var(--lightgray);
  border-left: none;
  box-shadow: none;
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  border-radius: 0 0.5em 0.5em 0;
}
.input_error_message .input[type=number]::-webkit-inner-spin-button, .input_error_message .input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}
.input_error_message .input[id=pourcentage], .input_error_message .input[id=amount] {
  position: relative;
  background-repeat: no-repeat;
  background-position: right 1.25em center;
}
.input_error_message .error_message {
  color: var(--red_color);
  font-size: 0.9375em;
}
.input_error_message_show_password_button {
  background-color: transparent;
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  border: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
}

.stay_connected_forgot_password {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375em;
  flex-wrap: wrap;
}
.stay_connected_forgot_password .label {
  font-weight: normal;
}
.stay_connected_forgot_password .forgot_password {
  color: var(--white_color_switchable);
}

.list_title_and_button_container {
  gap: 1.875em;
  flex: 1;
  flex-wrap: wrap;
}
.list_title_and_button_container:last-of-type .button_title_container_title {
  user-select: none;
}
.list_title_and_button_container .button_title_container {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.875em;
}
.list_title_and_button_container .button_title_container:has(:not(div.button_title_container_button_container)) {
  line-height: 2.9375em;
}
.list_title_and_button_container .button_title_container_title {
  font-size: 1.875em;
}
.list_title_and_button_container .button_title_container_button_container {
  flex-direction: row;
  gap: 0.9375em;
}

.table {
  border-collapse: separate;
  border-spacing: 0 1.25em;
}
.table_head_item {
  text-align: left;
}
.table_head_item:first-of-type {
  user-select: none;
}
.table_head_item:last-of-type {
  text-align: right;
}
.table_body_item:first-of-type_text, .table_body_item:first-of-type_longtext {
  padding-top: 2.5em;
}
.table_body_item_text, .table_body_item_longtext {
  border-bottom: 1px solid var(--line_color_switchable);
  padding: 1.25em 1em 1.25em 0;
}
.table_body_item_text:last-of-type {
  text-align: right;
  padding-right: 0;
}
.table_body_item_longtext {
  max-width: 100px;
}
.table_body_item_longtext_text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submit_btn {
  border: none;
  color: var(--black_color);
}

.section {
  background-color: var(--section_bg_color);
  padding: 3.125em;
  gap: 3.125em;
  border-radius: 1.25em;
}
.section.space {
  margin-bottom: 1.25em;
}
.section.space_up {
  margin-top: 2.5em;
}

.section_title_and_button {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.themes {
  flex-direction: row;
  justify-content: center;
  width: 84px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}
.themes.light_is_active .themes_light {
  background-color: var(--black_color);
}
.themes.light_is_active .themes_dark {
  background-color: transparent;
}
.themes.dark_is_active .themes_light {
  background-color: transparent;
}
.themes.dark_is_active .themes_dark {
  background-color: var(--black_color);
}
.themes.light_is_active .themes_light, .themes.light_is_active .themes_dark, .themes.dark_is_active .themes_light, .themes.dark_is_active .themes_dark {
  transition: 0.3s ease-in-out;
}
.themes_light, .themes_dark {
  flex-grow: 1;
  border: none;
  position: relative;
}
.themes_light .svg, .themes_dark .svg {
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  overflow: visible;
}
.themes_light .svg.move, .themes_dark .svg.move {
  top: 200%;
}
.themes_light {
  border-radius: 20px 0 0 20px;
}
.themes_dark {
  border-radius: 0 20px 20px 0;
}

.welcome_page_content {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 10.5625em;
}
.welcome_page_content_button_and_themes {
  gap: 1.875em;
  align-items: center;
}
.welcome_page_content_button_and_themes_button {
  background-color: var(--black_color_switchable);
  color: var(--white_color_switchable);
  border-radius: 0.333em;
  padding: 0.9em 1.93em;
}

.login_page {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: 100vh;
}
.login_page_logo_bg, .login_page_content {
  flex: 1;
}
.login_page_logo_bg {
  align-items: center;
  justify-content: center;
}
.login_page_content {
  flex-direction: column-reverse;
  padding: 3.125em;
}
.login_page_content .login_section {
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login_page_content .login_section_form {
  gap: 2.1875em;
  width: 75%;
}
.login_page_content .login_section_form_label_and_input {
  gap: 2.5em;
}
.login_page_content .login_section_form_stay_connected_forgot_password_and_button {
  gap: 1.875em;
}
.login_page_content .login_section_form_stay_connected_forgot_password_and_button_btn_container {
  flex: 1;
}
.login_page_content .login_section_form_stay_connected_forgot_password_and_button_btn_container_btn {
  width: 100%;
}
.login_page_content .go_back_nav {
  align-self: flex-start;
}

.app_nav_main_list_item_link, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn, .app_nav_theme_switcher_and_profile_content_modal_list_item_link, .todo_list_section_content_list_item_link, .funds_section_lists_container_enclosed_list_item_link, .funds_section_lists_container_in_process_list_item_link, .add_donations_manually_or_import_list_item_text, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link {
  text-decoration: none;
  position: relative;
  color: var(--black_color);
}
.app_nav_main_list_item_link::after, .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn::after, .app_nav_theme_switcher_and_profile_content_modal_list_item_link::after, .todo_list_section_content_list_item_link::after, .funds_section_lists_container_enclosed_list_item_link::after, .funds_section_lists_container_in_process_list_item_link::after, .add_donations_manually_or_import_list_item_text::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--black_color);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.header .app_nav {
  justify-content: space-between;
  height: calc(100vh - 5em);
  margin: 2.5em 1.25em;
}
.header .app_nav_logo_and_close_icon {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.header .app_nav_logo_and_close_icon_icon {
  width: 60px;
}
.header .app_nav_main_list {
  gap: 0.625em;
}
.header .app_nav_main_list_item {
  position: relative;
  padding: 0.9375em 0.9375em 0.9375em 0;
  border-radius: 0.625em;
}
.header .app_nav_main_list_item.inactive:hover .app_nav_main_list_item_link::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .app_nav_main_list_item_link {
  padding-left: 0.625em;
}
.header .app_nav_main_list_item_link::after {
  left: 0.625em;
  width: calc(100% - 0.625em);
}
.header .app_nav_theme_switcher_and_profile {
  gap: 2.5em;
}
.header .app_nav_theme_switcher_and_profile .themes, .header .app_nav_theme_switcher_and_profile_content_image {
  margin-left: 0.625em;
}
.header .app_nav_theme_switcher_and_profile_content_image {
  align-items: center;
  justify-content: center;
}
.header .app_nav_theme_switcher_and_profile_content_image_img {
  width: 100%;
}
.header .app_nav_theme_switcher_and_profile_content {
  gap: 0.9375em;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0.9375em 0.9375em 0.9375em 0;
  border-radius: 0.625em;
}
.header .app_nav_theme_switcher_and_profile_content_image {
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
  overflow: hidden;
}
.header .app_nav_theme_switcher_and_profile_content_text .profile_info:first-of-type {
  font-size: 1em;
}
.header .app_nav_theme_switcher_and_profile_content_text .profile_info:last-of-type {
  font-size: 0.625em;
}
.header .app_nav_theme_switcher_and_profile_content_modal {
  border-radius: 0.625em;
  padding: 1.25em;
  box-shadow: -4px 4px 8px var(--main_nav_active_bg_color);
  position: fixed;
  left: 16em;
  bottom: 0;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list {
  gap: 0.625em;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list_item {
  width: 100%;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list_item:hover .app_nav_theme_switcher_and_profile_content_modal_list_item_link::after, .header .app_nav_theme_switcher_and_profile_content_modal_list_item:hover .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list_item:not(:last-of-type) {
  border-bottom: 1px solid var(--black_line_color);
  padding-bottom: 0.625em;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn {
  border: none;
  background: none;
  padding: 0;
}
.header .app_nav_theme_switcher_and_profile_content_modal_list_item_form_btn::after, .header .app_nav_theme_switcher_and_profile_content_modal_list_item_link::after {
  left: 0;
  width: 100%;
}

.page_title_and_description {
  margin-bottom: 3.125em;
}
.page_title_and_description .page_title {
  margin-bottom: 0.6667em;
}

.home_sections_container .todo_list_section_content {
  gap: 6.25em;
}
.home_sections_container .todo_list_section_content .tasks_for_today, .home_sections_container .todo_list_section_content .assigned_tasks_for_today {
  gap: 1.25em;
}
.home_sections_container .todo_list_section_content_list {
  gap: 0.625em;
}
.home_sections_container .todo_list_section_content_list_item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 3.65625em;
  gap: 1em;
}
.home_sections_container .todo_list_section_content_list_item .picture_and_form_container {
  flex-direction: row;
  flex: 1;
  justify-content: right;
  gap: 1.875em;
  flex-wrap: wrap;
}
.home_sections_container .todo_list_section_content_list_item:not(:last-of-type) {
  padding-bottom: 0.625em;
  border-bottom: 1px solid var(--line_color_switchable);
}
.home_sections_container .todo_list_section_content_list_item_link {
  color: var(--white_color_switchable);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home_sections_container .todo_list_section_content_list_item_link::after {
  background-color: var(--white_color_switchable);
  left: 0;
  width: 100%;
}
.home_sections_container .todo_list_section_content_list_item_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.home_sections_container .todo_list_section_content_list_item_profile_pictures_list {
  flex-direction: row;
  gap: 0.3125em;
  align-items: flex-end;
  flex-wrap: wrap;
}
.home_sections_container .todo_list_section_content_list_item_profile_pictures_list_item {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.home_sections_container .todo_list_section_content_list_item_profile_pictures_list_item_img {
  width: 100%;
}

.profile_form_section, .fund_details_section, .task_show_section {
  gap: 6.25em;
  align-items: center;
  position: relative;
}
.profile_form_section_profile_picture_container, .fund_details_section_profile_picture_container, .task_show_section_profile_picture_container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.profile_form_section_profile_picture_container_img, .fund_details_section_profile_picture_container_img, .task_show_section_profile_picture_container_img {
  width: 100%;
}
.profile_form_section_form, .profile_form_section_list, .fund_details_section_form, .fund_details_section_list, .task_show_section_form, .task_show_section_list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2.5em;
  width: 100%;
}
.profile_form_section_form_label_and_input_container, .profile_form_section_form_item, .profile_form_section_list_label_and_input_container, .profile_form_section_list_item, .fund_details_section_form_label_and_input_container, .fund_details_section_form_item, .fund_details_section_list_label_and_input_container, .fund_details_section_list_item, .task_show_section_form_label_and_input_container, .task_show_section_form_item, .task_show_section_list_label_and_input_container, .task_show_section_list_item {
  width: 100%;
}
.profile_form_section_form .submit_btn, .profile_form_section_list .submit_btn, .fund_details_section_form .submit_btn, .fund_details_section_list .submit_btn, .task_show_section_form .submit_btn, .task_show_section_list .submit_btn {
  width: 100%;
  height: 100%;
}

.fund_details_section {
  align-items: flex-start;
}

.funds_section_lists_container, .task_index_tasks_manager_section_lists_container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5em;
}
.funds_section_lists_container_in_process_list, .funds_section_lists_container_enclosed_list, .funds_section_lists_container_section_content_owner_task_to_do_list, .funds_section_lists_container_section_content_assigned_task_to_do_list, .funds_section_lists_container_section_content_owner_task_in_process_list, .funds_section_lists_container_section_content_assigned_task_in_process_list, .funds_section_lists_container_section_content_owner_task_archived_list, .funds_section_lists_container_section_content_assigned_task_archived_list, .task_index_tasks_manager_section_lists_container_in_process_list, .task_index_tasks_manager_section_lists_container_enclosed_list, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list {
  gap: 1.25em;
}
.funds_section_lists_container_in_process_list_item, .funds_section_lists_container_enclosed_list_item, .funds_section_lists_container_section_content_owner_task_to_do_list_item, .funds_section_lists_container_section_content_assigned_task_to_do_list_item, .funds_section_lists_container_section_content_owner_task_in_process_list_item, .funds_section_lists_container_section_content_assigned_task_in_process_list_item, .funds_section_lists_container_section_content_owner_task_archived_list_item, .funds_section_lists_container_section_content_assigned_task_archived_list_item, .task_index_tasks_manager_section_lists_container_in_process_list_item, .task_index_tasks_manager_section_lists_container_enclosed_list_item, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item {
  background-color: var(--item_bg_color);
  border-radius: 0.625em;
  padding: 0.9375em 1.25em;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25em;
}
.funds_section_lists_container_in_process_list_item_amount_text, .funds_section_lists_container_enclosed_list_item_amount_text, .funds_section_lists_container_section_content_owner_task_to_do_list_item_amount_text, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_amount_text, .funds_section_lists_container_section_content_owner_task_in_process_list_item_amount_text, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_amount_text, .funds_section_lists_container_section_content_owner_task_archived_list_item_amount_text, .funds_section_lists_container_section_content_assigned_task_archived_list_item_amount_text, .task_index_tasks_manager_section_lists_container_in_process_list_item_amount_text, .task_index_tasks_manager_section_lists_container_enclosed_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_amount_text, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_amount_text {
  font-size: 0.9375em;
  margin-bottom: 0.75em;
}
.funds_section_lists_container_in_process_list_item_link, .funds_section_lists_container_in_process_list_item_fake_link, .funds_section_lists_container_enclosed_list_item_link, .funds_section_lists_container_enclosed_list_item_fake_link, .funds_section_lists_container_section_content_owner_task_to_do_list_item_link, .funds_section_lists_container_section_content_owner_task_to_do_list_item_fake_link, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_link, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link, .funds_section_lists_container_section_content_owner_task_in_process_list_item_link, .funds_section_lists_container_section_content_owner_task_in_process_list_item_fake_link, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_link, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link, .funds_section_lists_container_section_content_owner_task_archived_list_item_link, .funds_section_lists_container_section_content_owner_task_archived_list_item_fake_link, .funds_section_lists_container_section_content_assigned_task_archived_list_item_link, .funds_section_lists_container_section_content_assigned_task_archived_list_item_fake_link, .task_index_tasks_manager_section_lists_container_in_process_list_item_link, .task_index_tasks_manager_section_lists_container_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_enclosed_list_item_link, .task_index_tasks_manager_section_lists_container_enclosed_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link {
  color: var(--white_color_switchable);
}
.funds_section_lists_container_in_process_list_item_link::after, .funds_section_lists_container_in_process_list_item_fake_link::after, .funds_section_lists_container_enclosed_list_item_link::after, .funds_section_lists_container_enclosed_list_item_fake_link::after, .funds_section_lists_container_section_content_owner_task_to_do_list_item_link::after, .funds_section_lists_container_section_content_owner_task_to_do_list_item_fake_link::after, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_link::after, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link::after, .funds_section_lists_container_section_content_owner_task_in_process_list_item_link::after, .funds_section_lists_container_section_content_owner_task_in_process_list_item_fake_link::after, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_link::after, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link::after, .funds_section_lists_container_section_content_owner_task_archived_list_item_link::after, .funds_section_lists_container_section_content_owner_task_archived_list_item_fake_link::after, .funds_section_lists_container_section_content_assigned_task_archived_list_item_link::after, .funds_section_lists_container_section_content_assigned_task_archived_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_in_process_list_item_link::after, .task_index_tasks_manager_section_lists_container_in_process_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_enclosed_list_item_link::after, .task_index_tasks_manager_section_lists_container_enclosed_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link::after {
  background-color: var(--white_color_switchable);
  left: 0;
  width: 100%;
}
.funds_section_lists_container_in_process_list_item_link:hover::after, .funds_section_lists_container_in_process_list_item_fake_link:hover::after, .funds_section_lists_container_enclosed_list_item_link:hover::after, .funds_section_lists_container_enclosed_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_owner_task_to_do_list_item_link:hover::after, .funds_section_lists_container_section_content_owner_task_to_do_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_link:hover::after, .funds_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_owner_task_in_process_list_item_link:hover::after, .funds_section_lists_container_section_content_owner_task_in_process_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_link:hover::after, .funds_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_owner_task_archived_list_item_link:hover::after, .funds_section_lists_container_section_content_owner_task_archived_list_item_fake_link:hover::after, .funds_section_lists_container_section_content_assigned_task_archived_list_item_link:hover::after, .funds_section_lists_container_section_content_assigned_task_archived_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_in_process_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_in_process_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_enclosed_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_enclosed_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_fake_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link:hover::after, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_fake_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.task_index_tasks_manager_section_lists_container {
  flex-direction: column;
  gap: 3.125em;
  flex-wrap: wrap;
}
.task_index_tasks_manager_section_lists_container_section {
  gap: 1.875em;
  flex-wrap: wrap;
}
.task_index_tasks_manager_section_lists_container_section_title {
  font-size: 1.5625em;
}
.task_index_tasks_manager_section_lists_container_section .horizontal_flex {
  flex-direction: row;
  gap: 1.25em;
  flex-wrap: wrap;
}
.task_index_tasks_manager_section_lists_container_section_content {
  gap: 1.25em;
  flex: 1;
  flex-wrap: wrap;
}
.task_index_tasks_manager_section_lists_container_section_content_title_and_button_container {
  flex-direction: row;
  gap: 1.875em;
  align-items: center;
}
.task_index_tasks_manager_section_lists_container_section_content_title_and_button_container:has(:not(div.button_title_container_button_container)) {
  line-height: 2.9375em;
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list {
  flex: 1;
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item {
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  flex: 1;
  max-height: 2.96875em;
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_btn_container, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_btn_container, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_btn_container, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_btn_container, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_btn_container, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_btn_container {
  flex-direction: row;
  gap: 1.25em;
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 0.625em;
  top: 0;
  left: 0;
  z-index: 1;
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_to_do_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_to_do_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link:hover {
  border: 2px solid var(--dark_green_color);
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_in_process_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_in_process_list_item_link:hover {
  border: 2px solid var(--orange_color);
}
.task_index_tasks_manager_section_lists_container_section_content_owner_task_archived_list_item_link:hover, .task_index_tasks_manager_section_lists_container_section_content_assigned_task_archived_list_item_link:hover {
  border: 2px solid var(--red_color);
}

.modal_section {
  position: fixed;
  z-index: 3;
  background-color: var(--modal_bg_color);
  top: 0;
  left: 16.8125em;
  height: 100vh;
  width: calc(100vw - 16.8125em);
  justify-content: center;
  align-items: center;
  color: var(--black_color);
}
.modal_section_content {
  background-color: var(--yellow_color);
  padding: 3.125em;
  gap: 3.125em;
  border-radius: 1.25em;
  max-height: 80%;
  overflow: scroll;
}
.modal_section_content::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}
.modal_section_content::-webkit-scrollbar-thumb {
  background-color: var(--white_color_switchable);
  border-radius: 10px;
}
.modal_section_content::-webkit-scrollbar-track:hover {
  background-color: var(--white_placeholder_color);
  border-radius: 10px;
}
.modal_section_content.error_modal {
  background-color: var(--red_color);
}
.modal_section_content_title_and_close_container {
  flex-direction: row;
  justify-content: space-between;
  gap: 1.875em;
}
.modal_section_content_title_and_close_container_title {
  font-size: 1.875em;
}
.modal_section_content_form {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2.5em 1.875em;
  max-width: 40em;
}
.modal_section_content_form_input_label_container {
  width: 100%;
}
.modal_section_content_form_input_label_container .input, .modal_section_content_form_input_label_container .label {
  color: var(--black_color);
  border-color: var(--black_color);
}
.modal_section_content_form_input_label_container .input::placeholder {
  color: var(--black_placeholder_color);
  font-family: "Helvetica", "Arial", sans-serif;
}
.modal_section_content_form_input_label_container .input[type=file]::file-selector-button {
  background-color: var(--black_color);
  color: var(--white_color);
  border-color: var(--black_color);
}
.modal_section_content_form_input_label_container .input[id=pourcentage] {
  background-image: url("../icons/black_pourcentage_icon.svg");
}
.modal_section_content_form_input_label_container .input[id=amount] {
  background-image: url("../icons/black_euro_icon.svg");
}
.modal_section_content_form_submit_btn_container {
  width: 100%;
}
.modal_section_content_form_submit_btn_container_submit_btn {
  border: none;
  color: var(--white_color);
  background-color: var(--black_color);
  width: 100%;
}

.custom-pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875em;
}
.custom-pagination .dotted-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3125em;
}
.custom-pagination .dotted-line .dot {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--white_color_switchable);
  color: var(--black_color_switchable);
  font-size: 0.9375em;
}
.custom-pagination .dotted-line .dot.active {
  background-color: var(--yellow_color);
  color: var(--black_color);
}

.circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--yellow_color);
  color: var(--black_color);
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none;
}
.circle-btn .icon {
  width: 24px;
  height: 24px;
}
.circle-btn:hover {
  transform: scale(1.05);
}
.circle-btn.disabled {
  background-color: var(--yellow_color);
  cursor: not-allowed;
  opacity: 0.6;
}

.add_donations_manually_or_import {
  background-color: var(--yellow_color);
  padding: 1.875em;
  border-radius: 0.625em;
  position: absolute;
  right: 0;
  top: 3.75em;
}
.add_donations_manually_or_import_list {
  gap: 0.9375em;
}
.add_donations_manually_or_import_list_item:not(:last-of-type) {
  border-bottom: 1px solid var(--black_line_color);
  padding-bottom: 0.9375em;
}
.add_donations_manually_or_import_list_item_text {
  display: inline-block;
}
.add_donations_manually_or_import_list_item_text::after {
  background-color: var(--black_color);
  left: 0;
  width: 100%;
}
.add_donations_manually_or_import_list_item_text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.form_user_list_container, .form_fund_list_container {
  gap: 0.9375em;
  width: 100%;
}
.form_user_list_container .form_user_list, .form_user_list_container .form_fund_list, .form_fund_list_container .form_user_list, .form_fund_list_container .form_fund_list {
  gap: 0.9375em;
  height: 15em;
  overflow: scroll;
  border: 1px solid var(--black_color);
  border-radius: 0.625em;
  padding: 1em 1.25em;
}
.form_user_list_container .form_user_list_item, .form_user_list_container .form_fund_list_item, .form_fund_list_container .form_user_list_item, .form_fund_list_container .form_fund_list_item {
  flex-direction: row;
  align-items: center;
  gap: 1.875em;
}
.form_user_list_container .form_user_list_item:not(:last-of-type), .form_user_list_container .form_fund_list_item:not(:last-of-type), .form_fund_list_container .form_user_list_item:not(:last-of-type), .form_fund_list_container .form_fund_list_item:not(:last-of-type) {
  border-bottom: 1px solid var(--black_line_color);
  padding-bottom: 0.625em;
}
.form_user_list_container .form_user_list_item_label, .form_user_list_container .form_fund_list_item_label, .form_fund_list_container .form_user_list_item_label, .form_fund_list_container .form_fund_list_item_label {
  gap: 0.9375em;
  flex: 1;
}
.form_user_list_container .form_user_list_item_label_username_and_picture_container, .form_user_list_container .form_fund_list_item_label_username_and_picture_container, .form_fund_list_container .form_user_list_item_label_username_and_picture_container, .form_fund_list_container .form_fund_list_item_label_username_and_picture_container {
  flex-direction: row;
  gap: 0.9375em;
  align-items: center;
}
.form_user_list_container .form_user_list_item_label_username_and_picture_container_picture, .form_user_list_container .form_fund_list_item_label_username_and_picture_container_picture, .form_fund_list_container .form_user_list_item_label_username_and_picture_container_picture, .form_fund_list_container .form_fund_list_item_label_username_and_picture_container_picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.search_form_input {
  background-color: transparent;
  border-bottom: 1px solid var(--black_color);
  border-left: none;
  border-right: none;
  border-top: none;
  background-image: url("../icons/search_icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 5px 29px;
}
.search_form_input::placeholder {
  color: var(--black_color);
}

.input_icon {
  position: absolute;
  right: 1.25em;
  top: calc(50% - 8px);
}

.fund_transactions_section .table_body_item_text:last-of-type .modal_btn {
  width: 100%;
}
.fund_transactions_section .table .submit_btn {
  font-size: unset;
  padding: 0.9375em;
}

.task_index_tasks_manager_section_title_and_buttons_container {
  align-items: center;
  flex-direction: row;
  gap: 2.1875em;
}

.table_icon_invisible {
  visibility: hidden;
  position: absolute;
}

.confirmation_choices {
  flex-direction: row;
  align-items: center;
  gap: 1.875em;
}
.confirmation_choices .modal_section_content_form_submit_btn_container {
  flex: 1;
}
.confirmation_choices .modal_section_content_form_submit_btn_container_submit_btn {
  background-color: var(--red_color);
}
.confirmation_choices .form, .confirmation_choices .no_btn {
  flex: 1;
}
.confirmation_choices .no_btn {
  border: none;
  color: var(--white_color);
  background-color: var(--black_color);
}

.transaction_info {
  gap: 2.5em;
}
.transaction_info_title {
  margin-bottom: 0.9375em;
}
.transaction_info_texts_container {
  gap: 0.9375em;
}
.transaction_info_texts_container_text {
  flex-direction: row;
}

.task_users_form_users_list_container {
  width: 100%;
}
.task_users_form_users_list_container .task_users_form_users_list, .task_users_form_users_list_container .no_user {
  margin-top: 1.875em;
}
.task_users_form_users_list_container .task_users_form_users_list {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.875em;
  width: 100%;
}
.task_users_form_users_list_container .task_users_form_users_list_item {
  align-items: center;
  gap: 0.9375em;
  flex-basis: calc(20% - 1.875em + 0.375em);
  max-width: calc(20% - 1.875em + 0.375em);
}
.task_users_form_users_list_container .task_users_form_users_list_item_picture {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
}
.task_users_form_users_list_container .task_users_form_users_list_item_name {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.task_users_form_users_list_container .task_users_form_users_list_item_form {
  width: 100%;
}
.task_users_form_users_list_container .task_users_form_users_list_item_form_submit_btn_container_btn {
  width: 100%;
  font-size: 1em;
}

.task_show_section {
  align-items: flex-start;
}

.div_space .section_title {
  margin-bottom: 3.125em;
}

.start {
  align-self: flex-start;
}

.small {
  color: var(--dark_green_color);
  font-size: 0.625em;
}

/*# sourceMappingURL=app.css.map */
